<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>salegrosary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-subtitle *ngIf="showdata">please enter all fields</ion-card-subtitle>
  <ion-item color="Secondary" *ngIf="showdata">
    <ion-label  position="floating">enter your name</ion-label>
    <ion-input [(ngModel)] ="yourname"></ion-input>
  </ion-item>
  <ion-item color="Secondary" *ngIf="showdata">
    <ion-label position="floating">enter your district</ion-label>
    <ion-input  [(ngModel)] ="yourdistrict"></ion-input>
  </ion-item>
  <ion-item color="Secondary" *ngIf="showdata">
    <ion-label position="floating">enter your city/village</ion-label>
    <ion-input  [(ngModel)] ="yourcity"></ion-input>
  </ion-item>
  <ion-item color="Secondary" *ngIf="showdata">
    <ion-label position="floating">enter your Number</ion-label>
    <ion-input (input)="checkmobil()"  type="number" [(ngModel)] ="yournumber"></ion-input>
  </ion-item>
  <ion-button class="savebtn" *ngIf="showdata"  color="success" [disabled]="!yourname||!yourdistrict||!yourcity||!yournumber||!validnumber" (click)="getUserData(yourname,yourdistrict,yourcity,yournumber)">click To continue</ion-button>
  <div *ngIf="!showdata">
  
    <ion-row style="border-bottom: groove;">
      <ion-col col-3 class="heading">
      <ion-label >Name</ion-label>
    </ion-col>
    <ion-col col-3 class="heading">
      <ion-label >District</ion-label>
    </ion-col>
      <ion-col col-3 class="heading">
      <ion-label >City</ion-label>
    </ion-col>
    <ion-col col-3 class="heading">
      <ion-label >Mobile</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;">
      <ion-col col-3>
      <ion-label >{{yourname}}</ion-label>
    </ion-col>
    <ion-col col-3>
      <ion-label > {{yourdistrict}}</ion-label>
    </ion-col>
      <ion-col col-3>
      <ion-label > {{yourcity}}</ion-label>
    </ion-col>
    <ion-col col-3>
      <ion-label >{{yournumber}}</ion-label>

    </ion-col>
  </ion-row>

    <ion-item color="Primary">
      <ion-label color="purple">Select grain</ion-label>
      <ion-select  placeholder="Select One" class="redbutton" (ionChange)="showSelectValue($event)">
        <ion-select-option *ngFor="let gr of grain" value="{{gr}}">{{gr}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color="Primary" >
      <ion-label position="floating">please enter rate per/kg</ion-label>
      <ion-input type="number"   [(ngModel)] ="rate"></ion-input>
    </ion-item>

   
      <ion-button (click)="gohomepage()" [disabled]="!rate">Save</ion-button>
   
  </div>
   
 


</ion-card>
 
</ion-content>
