<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>todays deal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  *ngIf="user" >
<ion-card *ngFor="let value of user">
  <ion-grid class="contnr" >
    <ion-row class="grid-head">
      <ion-col width-60>
       Name
      </ion-col>
      <ion-col>
       {{value.yourname}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-40>
        City
      </ion-col>
      <ion-col>
        {{value.yourcity}}
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col width-40 >
        District
       </ion-col>
       <ion-col>
        {{value.yourdistrict}}
      </ion-col>
    </ion-row>
     <ion-row>
      <ion-col width-40 >
        Mo-number
     </ion-col>
     <ion-col>
      {{value.yournumber}}
    </ion-col>
     </ion-row>
     <ion-row>
     
     <ion-col  width-40 class="redbutton">
      Grain
    </ion-col >
    <ion-col class="greenbtn">
      {{value.grain}}
    </ion-col>
    </ion-row>
    
      <ion-row>
      <ion-col  width-40 class="redbutton">
        RatePerKg
      </ion-col >
      <ion-col class="greenbtn">
        {{value.rate}}
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col  width-40>
      date
      </ion-col >
      <ion-col class="greenbtn">
        {{value.time | date: 'yyyy-MM-dd hh:mm:ss'}}
      </ion-col>
    </ion-row> 
  </ion-grid>

</ion-card>
</ion-content> 
